body{
    width:100%;
    background-color:#1a2930;
    color:white;
    font-family: 'Hind Madurai', sans-serif;
    
}

.bigcontain{
    width:80%;
    margin-top:50px;
    padding:100px;
    margin:0 auto;
    background-color:#1a2930;
}


h2{
    text-align:center;
    display:block;
    margin:0 auto;
    margin-bottom:20px;
}
form{
text-align:center;
display:block;
margin:0 auto;
margin-bottom:40px;
}
.contain{
    
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    border: solid 5px #f7ce3e;
    padding:20px;

    
}

.img{
    padding:50px;
    padding-top:20px;
    margin:10px;
    border: solid 3px #ff3b3f;
    color:black;
     
}

.delete{
    text-align:center;
    display:block;
    border: solid 2px #008f95;
    color:white;
    padding:5px;
    margin-top:20px;

} 

.delete:hover{
background-color:#008f95;

}

.img:hover{
    position: relative;
    animation: single_rotate 3s linear infinite;
}

@keyframes single_rotate {
    100% {
        transform: rotate(-360deg);
    }
}

img{
    border: solid 2px #57bc90;
}