body{
    width:100%;
}

.bigcontain{
    width:80%;
    background-color:burlywood;
    margin-top:50px;
    padding:100px;
    margin:0 auto;
}
.contain{
    
    display:flex;
    justify-content: center;
    justify-items: center;

    
}

.img{
    padding:50px;
    padding-top:20px;
    background-color:whitesmoke;
    margin:10px;
    box-shadow: 5px 10px #888888;
}

.img a{
    text-align:center;
    display:block;
    background-color:brown;
    color:white;
    padding:5px;
    margin-top:20px;

}